* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    background: #f6f6f6;
    padding: 50px;
}

.container {
    display: flex;
    gap: 20px;
}

.left__container,
.right__container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

label {
    margin-top: 10px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid;
    margin: 6px;
    background: white;
    color: #000;
}

button:hover {
    background: #3a7afe;
    color: white;
    transition: all 1s ease;
}

.uppercase__btn {
    background: white;
    color: #000;
}

.uppercase__btn:hover {
    background: #27c46b;
    color: white;
    transition: all 1s ease;
}

p {
    margin: 10px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 20px 0px;
}

.filter {
    background: #555;
    color: white;
}

h3 {
    margin: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

li span {
    color: grey;
    font-size: 18px;
    font-weight: 700;
}

h4 {
    margin: 10px;
}